{% extends 'web/index.html'%}
{% load static %}


{% block  content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <img src="{% static 'web/img/slide/s1.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">

          <div class="carousel-container">
            
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <img src="{% static 'web/img/slide/s2.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">
          <div class="carousel-container">
            
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <img src="{% static 'web/img/slide/s3.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">
          <div class="carousel-container">
            
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <img src="{% static 'web/img/slide/s4.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">
          <div class="carousel-container">
           
          </div>
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
          <img src="{% static 'web/img/slide/s5.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">
          <div class="carousel-container">
            
          </div>
        </div>

        <!-- Slide 6 -->
        <div class="carousel-item">
          <img src="{% static 'web/img/slide/s6.jpg' %}" alt="Responsive image" class="img-responsive" style="width: 100%; height: 100%;" data-bgposition="center top"
          data-bgfit="contain" data-bgrepeat="no-repeat">
          <div class="carousel-container">
            
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <img src="{% static 'web/img/welcome/welcome.jpg' %}" alt="Responsive image" class="img-fluid rounded-circle">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              <h1>Welcome To Ambavkar Agro</h1>
            </p>
            <h5><p>
              Thank You for Visiting Us! We're a agro company to 
              delivering quality products with service to customer. Our company's aim provides to eatable products are fresh, healthy and organic.
            </p></h5>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about rounded" style="background-color: #dbdbda;">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>About Us</h2>
            <h4><strong>Ambavkar Agro </strong> </h4>
            <h3>was founded in Ratnagiri, Maharashtra and brings high quality agricultural inputs for Indian farmers across Domestic & International Market.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Founded as a private company in 2017 which became a publicly traded company in 2022, Over the years we have diversified our operations into various sectors like Alpanso Mango, Kesar Mango, Banana, Onion, Custard Apple, Guava, trading of Agri commodities & Retailing.
            </p>
            <p>
              we derive a competitive advantage in the domestic and International Market. We have developed product expertise and built enduring relationships with our business partners in India and abroad. We have always maintained a vision of being the leader in providing products that are environmentally sustainable and work in conjuncture with nature to help farmers be the best stewards of their lands.
            </p>
            <p class="fst-italic">
              We are suppliers to leading institutions and global retail chains. Our prime focus lies towards timely execution of contracts and keeping our commitments to the satisfaction of our business partners.
            </p>
            <p>
              We have a dedicated team of engineers whose passion is to create products inspired from nature that can help farmers to grow better crops while using natural fertilizers. Our goal is to help reduce pesticide and chemical fertilize use while improving yields and quality of crops for a healthy tomorrow.
            </p>

            <p class="fst-italic">
              The growing demand for food and well-being on the part of the world's population requires an effective response. Relying on a return to nature is not a realistic alternative because it does not suffice to meet global needs.
              On the other hand, excessive use of chemical products implies a non-sustainable choice in the long term from the environmental point of view.
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services rounded"  style="background-color: #508f04;">
      <div class="container"  >

        <div class="row"  >
          <div class="col-lg-12" >
            <h1 style="color: #fff;">Why Choose Us</h1>
            <p style="color: #fff;"><strong>Ambavkar Agro</strong> as a company with finely balanced values, clear vision, and conscientious people in Domestic & International market.</h2></p>
                <p style="color: #fff;">
                Our team of passionate, enthusiastic farmers with an un-quenching desire to satisfy the demands of our consumers as we believe in "World is a family" and as a family, we understand its essentials too.
                All our products are guaranteed under high-level quality testing. Our priority has been always to strive for quality produce, which begins with good agricultural practices to the application of scientific post-harvest methods.
                As in trading full-service, customer-oriented organization, we provide comprehensive, customized services in storing, clearing, logistics,
                forwarding, customs handling, and Safety Measures.
                We would be happy to develop an offer that satisfies all your specific needs.</p>

          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-flower1"></i>
              <h4><a >Always Fresh Product</a></h4>
              <p>We are serve fresh products.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-moisture"></i>
              <h4><a>Organaic Products</a></h4>
              <p>We Prod to say giving products are organic.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-speedometer"></i>
              <h4><a>Healthier Soil</a></h4>
              <p>Our products are growing with healthier soil.</p>
            </div>
          </div>
          
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <section id="services" class="services rounded"  style="background-color: #cbcbcb;">
      <div class="container"  >

        <div class="row"  >
          <div class="col-md-6 mt-2 mt-md-0">
            <iframe width="370" height="345" src="https://www.youtube.com/embed/NyEMR6wLanM" title="AMBAVKAR FARM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            
            </iframe>
          </div>

          <div class="col-md-6 mt-2 mt-md-0">
            <iframe width="370" height="345" src="https://www.youtube.com/embed/KUsZKshAf5g" title="AMBAVKAR AGRO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

            </iframe>
          </div>
        </div>
      </div>
    </section>      

    

  </main><!-- End #main -->
{%endblock%}